@import url('https://fonts.googleapis.com/css?family=Allan');
@font-face {
    
font-family: 'Nautilus Pompilius';
    
src: local('fonts/Nautilus Pompilius'), 
local('fonts/NautilusPompilius'), 
url('fonts/nautiluspompilius.woff2') format('woff2'), 
url('fonts/nautiluspompilius.woff') format('woff'), 
url('fonts/nautiluspompilius.ttf') format('truetype');
   
font-weight: 400;
    
font-style: normal;

}

@font-face {
    
font-family: 'graffiti';
    
src: local('graffiti'), 
local('fonts/graffiti'), 
url('fonts/graffiti.woff') format('woff'), 
url('fonts/graffiti.ttf') format('truetype');
   
font-weight: 400;
    
font-style: normal;

}


@font-face {
	    font-family: academrc;
	    src: local("academrc"),
         url(fonts/academrc.ttf);
  }

@font-face {
	    font-family: a_machinaortoshtregular;
	    src: local("a_machinaortoshtregular"),
         url(fonts/a_machinaortoshtregular.ttf);
  }

body 
{ 
background: url(images/background.jpg);       
background-repeat: no-repeat;  
background-size: 100%;  
background-attachment: fixed; 
margin:0;  
background-position: 50% 0%;
background-color: #FFFFFF ;

}

#upline{
background-color: #FFFFFF ;
height: 5%;
width:100%;
}

.point{
  width:13%;
  margin:5px;
  border: 1px;
  border-color: #000000;
  display: inline-block;
  text-align: center;
  color:#A9A9A9;
}

.point a:link,a:visited {
color:#4B0082;
text-decoration:none;
}

.point a:hover,a:active {
color:#599100;

}
#header{
  
  height:5%;
  width: 100%;
}
#logo{
  margin-left:5%;
  margin-top:2%;
width: 10%;
  height:10%;
  display: inline-block;
}
#text{
width:5%;
height:50%;
  display: inline-block;
  text-align:left;
 font-family: 'Allan',cursive;
  vertical-align: middle;
  color:blue;
   font-weight: bold;
font-size: 122px;
padding-left:2%;
margin-left:2%;
margin-top:5%;
margin-bottom: 10%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
nav {background: #FFE4C4;}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear; 
}
.topmenu > li {
  float: left;
  position: relative;
  border-left: 1px solid black;
  padding:0% 3%;
}
.topmenu > li:first-child {border-left: 0; padding-left:10%; }
.topmenu > li > a {  
  padding: 20px 30px;
  font-size: 15px;
   font-family: 'Allan',cursive;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;

}
.topmenu > li > a:hover{
  color: #DEB887;
}
.topmenu > li > a.active:hover{
  color: #DEB887;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #000000;}
.topmenu .fa, 
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 15px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu li a:hover{
  color:#DEB887;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
  color:#ddbe86;
}


#featured{
  margin:0 auto;
}
#content
{ 
background-size: 100%;  
background:rgba(255,255,255,0.75);
width:75%; 
margin:0 auto;
padding-top:5%;
padding-bottom:5%;

}

#advert{
    padding-top:5%;
  display: inline-block;
   padding-left:5%;
}

.content-title_1{
margin-top:2%;
margin-bottom:2%;
  text-align: center;
font-size:40px;
text-shadow: #FFFFFF 0 0 15px; 
color:#DC143C;
font-family:ms sans serif;
text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;}






.recommendations{
	margin:0 auto;
	display:inline;
	text-align: center;
    margin-top: 20px;
 
}

.product-item{ 
text-align: center; 
height:300px; 
width:200px; 
margin-left: 4%;

display:inline-block; 
vertical-align:top;
}
.product-item img{ box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5); width:200px}
.item-info{
  padding-top:5%;
}
.item-info a{
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  display:inline;

}

.form-width {
    max-width: 25rem;
}

.has-float-label {
    position: relative;
}
.has-float-label label {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -.5em;
        left: 0.75rem;
        z-index: 3;
        line-height: 1;
        padding: 0 1px;
  }

  .has-float-label label::after {
            content: " ";
            display: block;
            position: absolute;
            background: white;
            height: 2px;
            top: 50%;
            left: -.2em;
            right: -.2em;
            z-index: -1;
        }

    .has-float-label .form-control::-webkit-input-placeholder {
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus) + label {
        font-size: 150%;
        opacity: .5;
        top: .3em;
    }

.input-group .has-float-label {
    display: table-cell;
}

    .input-group .has-float-label .form-control {
        border-radius: 0.25rem;
    }

    .input-group .has-float-label:not(:last-child) .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group .has-float-label:not(:first-child) .form-control {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

}































.item {
    min-height: 78px;
    border-bottom: 1px #ccc;
    position: relative;
    padding: 12px 0 8px 20px;
    margin: 4px 0 4px 20px;
    display: block;
    text-align: left;
}
.pic img{
	
	width:200px;
	height: 250px;
  
}
.pic{float: left;
margin-right: 20px;
}
.descr{
	font-size: 26px;
    color: black;
    font-family: Georgia;
    display: block;
    padding:30px;
}
.date{
	font-size: 28px;
    color: black;
    font-family: Georgia;
}
.title{
	font-size: 30px;
    color: #DC143C;
    font-family: Georgia;
}


.poster{
	display: inline;
	margin: 0 auto;
	

}
.film-item1{
	text-align: center;
	height:400px;
	width:270px;
	vertical-align:top;
	display:inline-block;
	margin: 0 8%;

}
.film-item1 img{ -webkit-transform:scale(1.0); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
-o-transform:scale(0.8); /*Opera: масштабирование*/
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 15px rgba(0,0,0,0.3);
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5); }
.film-item1 img:hover{-webkit-transform:scale(1.5); /*Webkit: увеличиваем размер до 1.5x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;}
.item-head{
	font-size: 25px;
	font-family: arial;
	text-align:center;
	font-family:academrc;
	padding:20px;
color:#F23A38; 
text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
font-weight:bold;

}

.footer{
width:100%;
color: red;
text-align:center; 
background-color: #98FB98;
background-repeat: no-repeat;      
background-size: 100%; 
display: inline-block;

}
.footer-list{ 
 margin-top: 10px;
text-align: center; 

list-style-type: none;
} 
.footer-list li{ 
font-family: FANTASY; 
color: #4B0082; 
text-decoration: none; 
display: inline;
list-style-type: none; 
font-size: 22px; 
padding: 0 20px;
} 
.footer-list a{color: #4B0082; text-shadow: #FFFFFF 0 0 15px; }
.footer p
{   font-family: SEGOE PRINT;
	font-size: 20px;
	color: #4B0082;
	text-align: center; 
text-shadow: #FFFFFF 0 0 15px; 
}
.slash
{
	font-size: 20px;
	color: red;
	padding: 0 20px;

}
.product-item img{
-webkit-transform:scale(0.9); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
-o-transform:scale(0.8); /*Opera: масштабирование*/
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 15px rgba(0,0,0,0.3);
}
.product-item img:hover{
-webkit-transform:scale(1.5); /*Webkit: увеличиваем размер до 1.5x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
}

.footer-list a:link,a:visited {
	
color:#4B0082;

text-decoration:none;

}


.footer-list a:hover,a:active {

color:#599100;
	
text-decoration:underline;

}

#toTop { 
width:125px; 
border:1px solid #ccc; 
border-radius:10px; 
background:#B0E0E6; 
text-align:center; 
padding:5px; 
position:fixed; 
bottom:10px; /* отступ кнопки от нижнего края страницы*/ 
right:10px; 
cursor:pointer; 
display:none; 
color:#000000; 
font-family:verdana; 
box-shadow: inset 0 0 6px; 
font-size:15px; 
}
.busk_img{
    width: 60px;
    margin-right: 20px;
    display: inline-block;
    float: left;
}

.busk_product{
    margin-bottom: 10px;
    background-color: #DDD;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    line-height: 80px;
}

.basket_prod{
    min-height: 600px;
}

.count{
    margin-left: 60%;
}

.del_bask{
    float: right;
    line-height: 80px;
    background-color: #A0A0A0;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: white;
    margin-left:10px;
}

.prod_nаme{
    display: inline-block;
    float: left;
}
#form{
    display:block;
    margin-left:33%;
}
.product{
    display: inline-block;
    float: left;
    margin: 3px;
    text-align: center;
}

.product-img{
    height:200px;
}

.images{
    display: inline-block;
    float: left;
    width:33%;
}
.images img{
-webkit-transform:scale(0.9); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
-o-transform:scale(0.8); /*Opera: масштабирование*/
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 15px rgba(0,0,0,0.3);
}
.images img:hover{
-webkit-transform:scale(1.5); /*Webkit: увеличиваем размер до 1.5x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
}
.main_img{
    width: 100%;
    text-align: center;
}

.m_img{
    display: inline-block;
    float: left;
    width: 25%;
    margin:11px;
}

.product_det{
    min-height:400px;
    padding-left:10%;
}

.info{
    display: inline-block;
    float: left;
    width: 66%;
    padding: 20px;
    font-family: 'Allan',cursive;

}
.info h2{
    font-family: 'Allan',cursive;
}
.info h1{
    font-family: 'Allan',cursive;
    margin:0;
}
.to_basket{
    /*margin-top:10%;
    background-color: burlywood;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: x-large;*/

    display: inline-block;
    background: url(https://cdn.toy.ru/bitrix/templates/toy_new/images/basket.png) 10% 50% no-repeat #ff6f20;
    width: 250px;
    height: 45px;
    outline: 0 none;
    margin-top:10px;
    padding:5px;
    font-family: Arial;
    border: none;
}
.basket_edit{
    display:inline-block;
    padding-left:4%;
    width:100%;
    height:75px;
}

.product_desr h2{
    margin-top: 0px;
}

.product_desr{
    margin-bottom: 30px;
}
.product_desr p{
    font-family: 'Allan',cursive;
    font-size:20px;
    color:blue;
    padding:0% 10%;
}


